html {
  overflow-x: hidden;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2, h3 {
  color: white;
}

#lbteste{
  -webkit-box-shadow: 5px 5px 10px #666;
    -moz-box-shadow: 5px 5px 10px #666;
    box-shadow: 5px 5px 10px #666;
}

.form-contato {
  color: white;
  padding: 25px;
}

.form-contato label {
  font-size: small;
}

#txNome:focus, #txWhats:focus, #txEmail:focus, #txObservacao:focus, #btnSolicitar:focus {
  border-color: brown;
  box-shadow: none
}
